.content{
    &__image{
        position: relative;
    
        &__box{
            width:100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: $radius;
        }
    }

    &__cta{
        margin-top: 35px;
        display: flex;
    }

    &__text{
        p{
            margin-bottom: $text-padding;
            letter-spacing: $text-spacing;
            line-height: $text-line-height;
    
            color: $text-color;
            font-size: $font-size-text;
        }
        p:last-child{
            margin-bottom: 0;
        }
        h1{
            font-size: $font-size-h1;
            margin-bottom: $title-padding;
        }
        h2{
            font-size: $font-size-h2;
            margin-bottom: $title-padding;
        }
        h3{
            font-size: $font-size-h3;
            margin-bottom: $title-padding;
        }
        h4{
            font-size: $font-size-h4;
            margin-bottom: $title-padding;
        }
        h5{
            font-size: $font-size-h5;
            margin-bottom: $title-padding;
        }
        h6{
            font-size: $font-size-h6;
            margin-bottom: $title-padding;
        }
    }
}

.schedule{
    background-image: url('dist/images/bg-schedule.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;

    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        content: ' ';
        z-index: 1;
    }

    .container{
        z-index: 2;
    }

    p{
        color: #ffffff;
    }

    .title{
        color: #ffffff;
    }

}