.table{
    width: 100%;
    margin-top: 25px;

    &__wrapper{
        display: block;
        width:100%;
    }

    &__container{
        display: block;
        overflow-x: auto;
        width: 100%;
        padding:5px;
    }

    th{
        padding: 10px;
        background-color: $color-primary;
        border:3px solid #ffffff;
        border-radius: 10px;
        margin:5px;
        width: calc( 100% / 6 );

        color: #ffffff;
        font-size: 0.8rem;
        text-transform: uppercase;

        @include screen(medium){
            padding:20px;

            font-size: 1.15rem;
        }
    }

    td{
        padding: 10px;
        margin:5px;
        border-radius: 10px;
        background-color: #eeeeee;
        border:3px solid #ffffff;

        font-size: 0.8rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;

        @include screen(medium){
            padding:20px;

            font-size: 1.15rem;
        }
    }

}