//General
$container-size : 1200px;
$transition : ease-in 0.3s;
$radius : 15px;
$genera-shadown : 0 10px 20px rgba(0,0,0,.15);

// Colors

$color-primary : #1b1b1b;
$color-secoundary : #777777;

//Fonts

$font : 'Poppins', sans-serif;
$font-secoundary : 'Bebas Neue', cursive;
$font-size-text : 1rem;
$text-padding:15px;
$text-spacing : 1.25px;
$text-line-height : 1.35rem;
$text-color : #1b1b1b;

//Headings
$title-color : $color-primary;
$title-padding : 35px;
$font-size-h1 : 2srem;
$font-size-h2 : 1.5rem;
$font-size-h3 : 1.17rem;
$font-size-h4 : 1rem;
$font-size-h5 : 0.83rem;
$font-size-h6 : 0.75rem;

//Buttons

$button-color-bg : $color-primary;
$button-color-bg-hover : $color-secoundary;
$button-color-dark-bg : #ffffff;
$button-color-dark-bg-hover : #eaeaea;
$button-color-text : #ffffff;
$button-color-dark-text : $color-primary;
$button-shadown: 0px 5px 10px rgba(0,0,0,0.1);
$button-padding: 15px 25px;
$button-radius : 5px;
$button-font-size : 1rem;
$button-icon-size : 1.15rem;

//Header

$header-bg : $color-primary;
$header-height: 100px;
$header-shadown: 0px 5px 10px rgba(0,0,0,0.05);
$header-text : #fafafa;
$header-content-bg : $color-primary;
$header-content-bg-shadown : 0 5px 10px rgba(0, 0, 0, .05);
$header-control-color : #fafafa;
$header-control-color-hover : #ffffff;
$header-control-color-close : #ffffff;
$header-cta-bg : #ffffff;
$header-cta-text : $color-primary;
$header-cta-bg-hover : #CDD322;
$header-nav-text : #ffffff;
$header-social-color : #CDD322;

//Services
$services-bg: $color-primary;
$services-title-color : #ffffff;
$services-content-color : #ffffff;
$services-item-bg : #ffffff;
$services-item-title-color : $color-primary;
$services-item-text-color : $text-color;
$service-item-radius : 15px ;
$service-item-shadown : 0 10px 20px rgba(0,0,0,0.15);

//Contact and map
$contact-bg : $color-primary;
$contact-text-color : #ffffff;

//Testimonial
$testimonial-bg : #def8f7;
$testimonial-text-color : #1b1b1b;
$testimonial-name-color : #1b1b1b;
$testimonial-nav-color: $color-primary;

//Footer
$footer-nav-color: $color-primary;
$footer-info-color: #1b1b1b;
$footer-social-bg: $color-primary;
$footer-social-text: #ffffff;
$footer-dev-color: #1b1b1b;